* {
  min-width: 0;
  font: inherit;

  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  height: 100dvh;
  background: #242424;
  display: grid;
  place-items: center;
}

button {
  font-size: 24px;
}

p {
  text-wrap: pretty;
}
